{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-12 m-3">
        <h3>The identifier</h3><br>
        <p>Please select a file of the potential mug.</p>
        {% if image != '' %}<img src="{{url_for('static', filename=image)}}" alt="..." height="400" width="400">{% endif %}
        <p>{% if image != '' %} {{image}} is {% endif %} {{ info }}</p>
        <form action="/check" method="post" enctype="multipart/form-data">
            Select image to upload:
            <input type="file" name="fileToUpload" id="fileToUpload">
            <input type="submit" value="Upload Image" name="submit">
        </form></div>
</div></div>

{% endblock %}
